<?xml version="1.0" ?>
<robot name="final_assemble_rover" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find final_assemble_rover_description)/urdf/materials.xacro" />
<xacro:include filename="$(find final_assemble_rover_description)/urdf/final_assemble_rover.trans" />
<xacro:include filename="$(find final_assemble_rover_description)/urdf/final_assemble_rover.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.012288395840692032 0.034460399576695354 0.0011969906215803167" rpy="0 0 0"/>
    <mass value="0.7253853126312768"/>
    <inertia ixx="0.000799" iyy="0.001019" izz="0.000579" ixy="2e-06" iyz="-3e-06" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://final_assemble_rover_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://final_assemble_rover_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
